body {
    margin: 0;
    background-color: #f2ee0a;
}

.header {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 170px;
}
.header img {
    width: 150px;
    height: 150px;
    float: left;
}
.header h2 {
    color: white;
  float: left;
  margin-top: 32px;
  margin-left: 10px;
}

.footer {
width: 100%;
position: absolute;
text-align: center;
color: yellow;
background-color: black;
bottom: 0;
margin: 0;
}

.scroll {
    background-color: darkblue;
    color: white;
}

.content {
    margin-top: 20px;
    width: 70%;
    color: black;
    width: 90%;
    height: 300px;
    text-align: right;
  
}

.content h2 {
    border-bottom: 3px solid black;
    font-size: 30px;
    margin-left: 10px;
}
.content-text h4 {
    margin-left: 10px;
    color: black;
   float: left;
   font-size: 30px;
   margin-top: 0;
}

.dokmeh {
    background-color: #7A716E;
    height: 45px;
    margin: 0;
}

.dokmeh a {
    display: inline-block;
    margin-top: 10px;
    padding-right: 30px;
    margin-left: 10px;
}

.dokmeh  a{
    background-color: yellow;
    text-decoration: none;
    margin-bottom: 5px;
    color: red;
    padding: 5px;
    border-radius: 4px;
}

.dokmeh a:hover{
    background-color: #071f45;

}

.dokmeh a:active {
    position:relative;
    top:3px;
}

.content-text img {
    margin-left: 20px;
}

.content-text {
    margin-top: 40px;
}

.content-text img {
    margin-bottom: 80px;
}
